*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Poppins, san-serif;
	font-weight: 400;
}

body {
	height: 100vh;
	padding: 0;
	margin: 0;
	background: radial-gradient(#ff00db, #5900ff);
}

.calculator-grid {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4, 90px);
	grid-template-rows: minmax(120px, auto) repeat(5, 90px);
}

.calculator-grid > button {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid white;
	outline: none;
	background: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover {
	background: white;
}

.span-two {
	grid-column: span 2;
}

.output {
	grid-column: 1 / -1; /* this sets the grid to the total length of the grids columns */
	background: rgba(0, 0, 0, 0.75);
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
}
.output .prev-operand {
	color: rgba(255, 255, 255, 0.75);
	font-size: 1.5rem;
}
.output .curr-operand {
	color: white;
	font-size: 2.5rem;
}
